.container_form {
  display: flex;
  flex-direction: column;
  width: 548px;
  background-color: #f1f3f4;
  border-radius: 12px;
  gap: 32px;
  padding: 32px;
}

.form_container {
  display: flex;
  flex-direction: column;
  width: 484px;
  gap: 32px;
}
.form_container > input {
  padding: 16px 32px;
  font-size: 20px;
  border: 1px #dddddd;
  background-color: #ffffff;
  border-radius: 6px;
  font-weight: 500;
  line-height: 130%;

  border-color: green;
}
.form_container > input::placeholder {
  color: #b0adad;
}
.form_container > input:focus {
  outline: none;
  border: 1px solid lightblue;
}
.form_container > button {
  padding: 16px 32px;
  height: 58px;
  font-size: 20px;
  line-height: 130%;
  font-weight: 500;
}

.total_price {
  display: flex;
  justify-content: space-between;
}

.total_price > p:first-child,
.total_items {
  font-size: 40px;
  color: #8b8b8b;
  line-height: 130%;
  font-weight: 500;
}

.total_price > p:last-child {
  font-size: 64px;
  color: #282828;
  line-height: 110%;
  font-weight: bold;
}
@media (max-width: 1100px) {
}

@media (max-width: 576px) {
}
