/* .custom-modal .ant-modal-content {
  background-color: #3906ef;
  border-radius: 10px;
}

.custom-modal .ant-modal-header {
  background-color: #ff4d4f;
}

.custom-modal .ant-modal-title {
  color: #ffffff;
} */
