.nav_category {
  display: flex;
  gap: 1px;
  margin: 40px;
  flex-wrap: wrap; /* Позволяет кнопкам переноситься на следующую строку */
}
.btn {
  padding: 8px 16px;
  background-color: #dddddd;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #8b8b8b;
}
.nav_category > .btn {
  color: black;
}
hr {
  width: 16px;
  margin-top: 18px;
  border: 0.5px solid rgb(209, 206, 206);
  height: 1px;
}

.category_container > h1 {
  margin: 40px;
}
@media (max-width: 1100px) {
  .nav_category {
    margin: 20px;
    justify-content: center;
  }
  .category_container > h1 {
    font-size: 36px;
    margin: 20px;
    text-align: center;
  }
  hr {
    width: 80%; /* Ширина линии становится 80% */
    margin: 10px auto; /* Центрируем линию */
  }
  .btn {
    padding: 6px 12px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .nav_category {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  .category_container > h1 {
    font-size: 28px;
    margin: 10px;
    text-align: center;
  }
  hr {
    width: 100%;
    margin: 10px 0;
  }
  .btn {
    padding: 4px 8px;
    font-size: 12px;
    margin-bottom: 10px;
  }
}
