.container_formDiscount {
  background-color: #0d50ff;
  border-radius: 12px;
  margin: 80px 5px 40px 40px;
}

.title_formDiscount {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-right: 24px;
  font-size: 34px;
  color: #ffffff;
  font-weight: bold;
  line-height: 110%;
}

.containerImageAndForm {
  display: flex;
  gap: 32px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  width: 516px;
  gap: 16px;
  margin-top: 62px;
}
.formContainer > input {
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 16px 32px;
  background-color: #2451c6;
  font-size: 20px;
  color: #ffffff;
}
.formContainer > input:focus {
  outline: none;
  border: 1px solid blue;
}
.formContainer > input::placeholder {
  color: #ffffff;
  font-size: 20px;
  line-height: 130%;
  font-weight: 500;
}
.formContainer > button {
  font-size: 20px;
  line-height: 130%;
  font-weight: 500;
  color: #282828;
  padding: 16px 32px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-bottom: 32px;
}
.formContainer > button:hover {
  background-color: black;
  color: #ffffff;
}
@media (max-width: 1100px) {
  .container_formDiscount {
    margin: 60px 5px 30px 30px;
  }
  .containerImageAndForm {
    flex-direction: column;
    gap: 20;
  }
  .formContainer {
    width: 80%;
    margin: 40px auto;
  }
  .title_formDiscount {
    font-size: 28px;
    padding-top: 34px;
    line-height: 150%;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .container_formDiscount {
    margin: 40px 10px 20px 10px;
    border-radius: 8px;
  }
  .title_formDiscoun {
    font-size: 24px;
    padding-top: 16px;
    text-align: center;
  }
  .containerImageAndForm {
    gap: 16px;
  }
  .formContainer > input {
    padding: 12px 24px;
    font-size: 16px;
  }
  .formContainer > input::placeholder {
    font-size: 16px;
  }
  .formContainer > button {
    font-size: 18px;
    padding: 12px 24px;
  }
}
