.home_container {
  flex: 1;
  background-image: url("../../assets/images/dog_cat.png");
  background-repeat: no-repeat;
  background-size: 1440px 600px;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  border: 5px solid blue;
  padding: 80px 50px 40px 40px;
}

.home_container > h1 {
  font-size: 96px;
  color: #ffff;
  margin-bottom: 40px;
}
