.home_container {
  flex: 1;
  min-height: 600px;
  background-image: url("../../assets/images/dog_cat.png");
  background-repeat: no-repeat;
  /* background-size: 1440px 600px; */
  background-size: cover;
  max-width: 1440px;
  width: 100%;
  padding: 80px 50px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.homePageContainer {
  min-height: 100vh;
}
.home_container > h1 {
  font-size: 96px;
  color: #ffff;
  margin-bottom: 40px;
}

.home_categories_container {
  margin-top: 40px;
}
/* Адаптивные стили для десктопов */
@media (max-width: 1100px) {
  .home_container {
    padding: 60px 30px 0 20px;
  }
  .home_container > h1 {
    font-size: 72px;
  }
}
/* Адаптивные стили для мобильных устройств */
@media (max-width: 576px) {
  .home_container {
    padding: 40px 20px 0 10px;
    text-align: center;
  }
  .home_container > h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .home_categories_container {
    margin-top: 20px;
  }
}
