.allProducts_container > h1 {
  margin: 0 0 40px 40px;
  font-size: 64px;
  font-weight: bold;
  line-height: 110%;
}

.nav_productsAll {
  display: flex;
  margin: 40px 0 40px 40px;
}
.nav_productsAll > button,
.btnMain_page {
  padding: 0px 16px;
  background-color: #dddddd;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btnMain_page {
  color: #8b8b8b;
}
@media (max-width: 1100px) {
}

@media (max-width: 576px) {
}
