.counter_container {
  display: flex;
  position: relative;
}

.btn_count {
  width: 58px;
  height: 58px;
  border-radius: 6px;
  border: 1px solid #dddddd;
  color: gray;
  font-size: 28px;
}
/* .counter_container > button:last-child {
  margin-left: 32px;
  padding: 16px 32px;
  border-radius: 6px;
  font-size: 20px;
  width: 316px;
  height: 58px;
} */

.counter_container > p {
  width: 96px;
  height: 58px;
  border: 1px solid #dddddd;
  font-size: 20px;
  color: #282828;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: none;
  border-right: none;
}

/* .btn_close {
  max-width: 5px;
  height: 2px;
  border: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.014);
  cursor: pointer;
  position: absolute;
  top: -5rem;
  left: 28rem;
  right: -15rem;
  margin: 0;
  padding: 0;
} */
@media (max-width: 1100px) {
}

@media (max-width: 576px) {
}
