.sale_container > h1 {
  margin: 0 0 40px 40px;
  font-size: 64px;
  font-weight: bold;
  line-height: 110%;
}

.nav_discounted {
  display: flex;
  margin: 40px 0 40px 40px;
}
.nav_discounted > button,
.btnMain_sale {
  padding: 0px 16px;
  background-color: #dddddd;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btnMain_page {
  color: #8b8b8b;
}

.sale_homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 80px;
}
.sale_homePage > h1 {
  font-size: 64px;
  line-height: 110%;
  color: #282828;
  font-weight: bold;
}
.sale_homePage > hr {
  width: 1091px;
  margin-left: 32px;
  border: 1 solid #dddddd;
  margin-top: 40px;
  margin-bottom: 30px;
}

.sale_homePage > button {
  padding: 8px 16px;
  border-radius: 6px;
  color: grey;
  border: 1px solid #dddddd;
  font-size: 16px;
  line-height: 126%;
  font-weight: 500;
  margin-top: 10px;
}
