.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.categories_container {
  display: flex;
  gap: 32px;
}
.basket_container {
  position: relative;
}
.cart_count {
  background-color: #0d50ff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #ffffff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

@media (max-width: 1100px) {
}

@media (max-width: 576px) {
}
