.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid red;
  padding-left: 40px;
  padding-right: 40px;
}

.categories_container {
  display: flex;
  gap: 32px;
}
