.shop_cart_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 80px;
}

.shop_cart_title > h1 {
  font-size: 64px;
  line-height: 110%;
  color: #282828;
  font-weight: bold;
}
.shop_cart_title > hr {
  width: 682px;
  margin-left: 32px;
  border: 1 solid #dddddd;
  margin-top: 40px;
  margin-bottom: 30px;
}

.shop_cart_title button {
  padding: 8px 16px;
  border-radius: 6px;
  color: grey;
  border: 1px solid #dddddd;
  font-size: 16px;
  line-height: 126%;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
}
.messagerCart {
  margin: 40px 0 80px 40px;
  font-size: 20px;
  line-height: 130%;
  color: #282828;
}
.messagerCart > p {
  margin-bottom: 32px;
}
.messagerCart button {
  padding: 16px 56px;
  border-radius: 6px;
  font-size: 20px;
  line-height: 130%;
  height: 58px;
}
