.nav_product_page {
  display: flex;
  gap: 1px;
  margin: 40px;
}
.btn_productPage {
  padding: 8px 16px;
  background-color: #dddddd;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: #8b8b8b;
  white-space: nowrap;
}
.nav_product_page > .btn_productPage:last-child {
  color: #282828;
}
.product_card_container {
  display: flex;
  gap: 32px;
  margin-top: 40px;
}

.product_image > img {
  width: 780px;
  height: 572px;
}

.product_discription {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.product_discription > span {
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;
}

.product_discription > h2 {
  font-size: 40px;
  line-height: 110%;
  font-weight: bold;
  color: #282828;
}

.discript_text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 300px;
}

.discript_text > h6 {
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  color: #282828;
}
.discript_text > p {
  width: 548px;
  font-size: 16px;
  color: #282828;
  line-height: 130%;
  margin-bottom: 16px;
  overflow: hidden; /* Скрываем текст, который не помещается */
  display: -webkit-box; /* Включаем флексбокс для WebKit */
  -webkit-line-clamp: 10; /* Ограничиваем текст до 3 строк */
  -webkit-box-orient: vertical; /* Устанавливаем вертикальную ориентацию */
  text-overflow: ellipsis; /* Добавляем троеточие */
}

.count_btn {
  display: flex;
  gap: 32px;
}

.count_btn > button {
  padding: 16px 32px;
  border-radius: 6px;
  font-size: 20px;
  width: 316px;
  height: 58px;
}

.discount_percentage {
  position: absolute;
  top: 16px;
  left: 236px;
  padding: 4px 8px;
  background-color: #0d50ff;
  border-radius: 6px;
  color: #ffffff;
}
@media (max-width: 1100px) {
  .nav_product_page {
    margin: 40px 20px;
  }

  .btn_productPage {
    padding: 8px 12px;
    font-size: 16px;
  }

  .product_card_container {
    flex-direction: column;
    gap: 16px;
    margin: 20px;
  }

  .product_image > img {
    width: 100%;
    height: auto; /* Адаптивная высота изображения */
  }

  .product_discription {
    gap: 16px;
  }
  .product_discription > h2 {
    text-align: center;
  }
  .discript_text > p {
    width: 100%; /* Ширина описания на всю ширину контейнера */
  }

  .count_btn {
    gap: 26px;
  }

  .count_btn > button {
    width: 50%;
  }

  .discount_percentage {
    top: 8px;
    left: 230px;
  }
}

@media (max-width: 576px) {
  .nav_product_page {
    margin: 30px 10px;
  }

  .btn_productPage {
    padding: 8px 10px;
    font-size: 14px;
  }

  .product_card_container {
    gap: 8px;
  }

  .product_image > img {
    width: 100%;
    height: auto;
  }

  .product_discription {
    gap: 12px;
  }

  .product_discription > h2 {
    font-size: 28px;
  }

  .discript_text > h6 {
    font-size: 18px;
  }

  .discript_text > p {
    -webkit-line-clamp: 6; /* Ограничение описания до 6 строк */
  }

  .count_btn {
    gap: 12px;
  }

  .count_btn > button {
    padding: 12px 24px;
    font-size: 18px;
    width: 100%;
  }

  .discount_percentage {
    top: 8px;
    left: 240px;
  }
}
